<div id="vaccine-vph-container-graph" class="graph-container">
  <p class="graph-container-caption">{{ include.title }}</p>
  {% if include.description %}
  <p>{{ include.description }}</p>
  {% endif %}
  <ul class="legend">
    <li class="vaccine-yes">Länder mit Impfprogramm (Ende 2015)</li>
    <li class="vaccine-no">Länder ohne Impfprogramm (Ende 2015)</li>
  </ul>
  <div id="vaccine-vph-graph" class="scatterplot-graph">
    <ul class="x-legend">
      <li>Niedriges Einkommen</li>
      <li>Niedriges bis mittleres Einkommen</li>
      <li>Mittleres bis höheres Einkommen</li>
      <li>Hohes Einkommen</li>
    </ul>
    <div class="tooltip top" role="tooltip">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">
        <p class="title"></p>
        <p class="description"><strong><span class="value-y"></span> Tote</strong></p>
        <small>pro 100,000 Frauen ab 30</small>
        <p class="description vaccine">
          <span class="vaccine-1">HPV-Impfung in öffentlichem Impfprogramm (Ende 2015)</span>
          <span class="vaccine-0">HPV-Impfung nicht in öffentlichem Impfprogramm (Ende 2015)</span>
        </p>
      </div>
    </div>
  </div>
  <div class="label-y">Tote <br/><small>pro 100,000 Frauen ab 30</small></div>
  <div class="mobile-pictures">
    <p>Länder mit der höchsten Sterblichkeit von Gebärmutterhalskrebs sind auch die ärmsten und hatten 2015 die Impfung nicht</p>
    <img class="img-responsive" src="{{ site.assetsurl }}/images/articles/vph-graph-en-1.jpg">
    <p>Nur einige ärmere Länder hatten die Impfung, mit Hilfe von externen Programmen</p>
    <img class="img-responsive" src="{{ site.assetsurl }}/images/articles/vph-graph-en-2.jpg">
    <p>Die meisten Länder mit Impfprogramm sind reichere länder mit niedriger Sterblichkeit durch Gebärmutterhalskrebs</p>
    <img class="img-responsive" src="{{ site.assetsurl }}/images/articles/vph-graph-en-3.jpg">
  </div>
</div>
